html
	Trivia Home
	
body

	div#main
		H1 Trivia Home page
		
		p
			a(href="http://localhost:3000/questions")= "Questions"
			br
			br
			a(href="http://localhost:3000/createquiz")= "Create a Quiz"
			br
			br
			a(href="http://localhost:3000/quizzes")= "See Quizzes"
			